@media (max-width: 768px){ 
    #home{                                      /* Header of the page */
        background-image: none;
        height: fit-content;
    }
    #logo{
        width: 30vw;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .hometext{
        width: 100%;
        text-align: justify;
    }
    .hometext h1{
        font-size: 25px;
    }
    #intro{
        font-size: 17px;
    }
    #menu{
        display: block;
        font-size: 30px;
        color: #0f2709;
        cursor: pointer;
        position: absolute;
        left: 25px;
        top: 30px;
        z-index: 3;
        transition: color 0.3s;
    }
    #sidemenu.open {
        left: 0;
    }
    #menu.fa-bars {
        display: block;
    }
    nav .fa-bars, nav ul .fa-circle-xmark {
        display: block;
    }
    nav ul{
        background: #0a2f01;
        position: fixed;
        top: 0;
        left: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 30px;
        z-index: 2;
        transition: left 0.3s ease;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px;
    }
    nav ul li a{
        color: #f5f5d5;
        font-size: 16px;
        margin: 30px 10px 0;
        padding: 8px 10px;
    }
    .homebuttons{
        display: flex;
        justify-content: start;
        margin-top: 20px;
        gap: 20px;
        font-size: 10px;
    }
    .homebuttons input{
        width: 100%;
        margin-bottom: 10px;
    }
    #contactbtn, #cvbtn {
    font-size: 15px;
    }
    
    
    #about{
        margin-top: 40px;
        height: fit-content;
    }
    .row{
        margin-top: 0px;
        flex-direction: column;
        height: fit-content;
    }
    .abtcol-1, .abtcol-2{
        flex-basis: 100%;
        text-align: justify;
    }
    .abtcol-2{
        margin-top: 30px;
        height: fit-content;
    }
    .abtcol-2 h1{
        font-size: 25px;
    }
    .about-text{
        font-size: 16px;
    }
    #aboutimg{
        width: 90%;
    }
    .tab-titles{
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .tab-titles p{
        font-size: 16px;
    }
    .tab-links{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .tab-content{
        height: 100px;
    }
    .tab-content span{
        font-size: 16px;
    }


    #extra-curriculars{
        margin-top: 50px;
        height: fit-content;
    }
    #extra-curriculars h2{
        font-size: 22px;
    }
    #extra-curriculars p{
        font-size: 15px;
    }
    .extra-curriculars-list{
        margin-top: 40px;
    }


    #project{
        height: fit-content;
        margin-top: 50px;
    }
    .project img{
        height: 400px;
    }
    .layer p{
        font-size: 17px;
    }


    #contact{
        margin-top: 50px;
        height: fit-content;
    }
    .row-contact{
        flex-direction: column;
    }
    .contact-left{
        flex-basis: 100%;
        text-align: justify;
        margin-bottom: 30px;
    }
    .contact-right{
        flex-basis: 100%;
        text-align: center;
    }
    h1.subtitle{                                    /* Subtitle in Contact Section */
        margin-bottom: 40px;
        text-align: left;
        font-size: 35px;
}
    .contact-right form input, .contact-right form textarea{
        width: 80%;
    }
    .quote{
        margin-top: 50px;
        height: fit-content;
    }
    .quote h2 {
        font-size: 18px;
        padding: 0 20px;
    }
}


@media (max-width: 430px){ 
    #home{                                      /* Header of the page */
        background-image: none;
        height: fit-content;
    }
    #logo{
        width: 30vw;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .hometext{
        width: 100%;
        text-align: justify;
    }
    .hometext h1{
        font-size: 25px;
    }
    #intro{
        font-size: 17px;
    }
    #menu{
        display: block;
        font-size: 30px;
        color: #0f2709;
        cursor: pointer;
        position: absolute;
        left: 25px;
        top: 30px;
        z-index: 3;
        transition: color 0.3s;
    }
    #sidemenu.open {
        left: 0;
    }
    #menu.fa-bars {
        display: block;
    }
    nav .fa-bars, nav ul .fa-circle-xmark {
        display: block;
    }
    nav ul{
        background: #0a2f01;
        position: fixed;
        top: 0;
        left: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 30px;
        z-index: 2;
        transition: left 0.3s ease;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px;
    }
    nav ul li a{
        color: #f5f5d5;
        font-size: 16px;
        margin: 30px 10px 0;
        padding: 8px 10px;
    }
    .homebuttons{
        display: flex;
        justify-content: start;
        margin-top: 20px;
        gap: 20px;
        font-size: 10px;
    }
    .homebuttons input{
        width: 100%;
        margin-bottom: 10px;
    }
    #contactbtn, #cvbtn {
    font-size: 15px;
    }
    
    
    #about{
        margin-top: 40px;
        height: fit-content;
    }
    .row{
        margin-top: 0px;
        flex-direction: column;
        height: fit-content;
    }
    .abtcol-1, .abtcol-2{
        flex-basis: 100%;
        text-align: justify;
    }
    .abtcol-2{
        margin-top: 30px;
        height: fit-content;
    }
    .abtcol-2 h1{
        font-size: 25px;
    }
    .about-text{
        font-size: 16px;
    }
    #aboutimg{
        width: 90%;
    }
    .tab-titles{
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }
    .tab-titles p{
        font-size: 16px;
    }
    .tab-links{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .tab-content{
        height: 100px;
    }
    .tab-content span{
        font-size: 16px;
    }


    #extra-curriculars{
        margin-top: 50px;
        height: fit-content;
    }
    #extra-curriculars h2{
        font-size: 22px;
    }
    #extra-curriculars p{
        font-size: 15px;
    }
    .extra-curriculars-list{
        margin-top: 40px;
    }


    #project{
        height: fit-content;
        margin-top: 50px;
    }
    .project img{
        height: 400px;
    }
    .layer p{
        font-size: 17px;
    }


    #contact{
        margin-top: 50px;
        height: fit-content;
    }
    .row-contact{
        flex-direction: column;
    }
    .contact-left{
        flex-basis: 100%;
        text-align: justify;
        margin-bottom: 30px;
    }
    .contact-right{
        flex-basis: 100%;
        text-align: center;
    }
    h1.subtitle{                                    /* Subtitle in Contact Section */
        margin-bottom: 40px;
        text-align: left;
        font-size: 35px;
}
    .contact-right form input, .contact-right form textarea{
        width: 80%;
    }
    .quote{
        margin-top: 50px;
        height: fit-content;
    }
    .quote h2 {
        font-size: 18px;
        padding: 0 20px;
    }
}