*{                                              /* Universally applied to whole page */        
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body{                                           /* Body of the page */ 
    background: linear-gradient(to bottom, #f5f5d5, #a3b68a); 
}
#home{                                          /* Header of the page */
    background-image: url(images/about.png);
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container{                                     /* Properties for all the container divs */  
    padding: 10px 10%;
}
nav{                                            /* Navigation Bar */   
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}
#logo{                                          /* Logo of the website */
    width: 10vw;
    height: 20vh;
}
nav ul li{                                      /* Tabs in Navigation Bar */
    display: inline-block;
}  
nav ul li a{                                    /* Links in Navigation Bar */
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: #354a2f;
    font-size: 20px;
    padding: 10px 15px;
    margin: 45px 15px 0;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover{                              /* Hover effect on links in Navigation Bar */
    transform: scale(1.1);
} 
nav ul li a::after{                             /* Underline effect on links in Navigation Bar */
    content: '';
    position:absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background: #354a2f;
    transition: all 0.5s ease-in-out;
}
nav ul li a:hover::after{                       /* Hover effect on underline of links in Navigation Bar */
    width: 100%;
    left: 0;
}
h1{                                             /* Color of all Headings in page */
    color: #253e1e;
}
.hometext{                                      /* Text in home page */                        
    width: 50%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hometext h1{                                   /* Introduction text on home page */
    font-size: 40px;
}
#intro{                                         /* Paragraphs in home page */
    font-size: 20px;
}
.homebuttons{                                   /* Buttons on home page */
    display: flex;
    justify-content: start;
    margin-top: 30px;
    gap: 20px;
}
#contactbtn{                                    /* Contact Me button */
    background-color: #354a2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
#contactbtn:hover{                              /* Hover effect on Contact Me button */
    background-color: #2a3b1f;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 5px #677c59;
}
#cvbtn{                                         /* Download CV button */
    background-color: #354a2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
#cvbtn:hover{                                   /* Hover effect on Download CV button */  
    background-color: #2a3b1f;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 5px #677c59;
}

/*----------------------About Section -------------------------*/
#about{                                       
    margin-top: 90px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    height: 500px;
}
.abtcol-1{                                      /* Left Column of About Section */
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.abtcol-2{                                      /* Right Column of About Section */
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: 100%;
}
.about-text{                                    /* Paragraph in Right Column of About Section */
    font-size: 20px;
    color: #0f2709;
}
#aboutimg{                                      /* Image in Left Column of About Section */
    width: 70%;
    border-radius: 15px;
    box-shadow: 4px 4px 5px #677c59, -4px 4px 5px #677c59, 4px -4px 5px #677c59, -4px -4px 5px #677c59;
}
.tab-titles{                                    /* Tab titles in About Section */
    display: flex;
    margin-top: 20px;
}
.tab-links{                                     /* Links of tabs in About Section */
    margin-right: 50px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    position: relative;
}
.tab-links::after{                              /* Underline effect on tab links in About Section */
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: #354a2f;
    transition: all 0.2s ease-in;
}
.tab-links.active-link::after{                  /* Active tab effect */
    width: 50%;
}
.tab-links:hover::after{                        /* Hover effect on tab links in About Section */
    width: 50%;
}
.tab-content ul li{                             /* List of content in respective tabs */
    list-style: none;
    margin: 5px 0;
}
.tab-content span{                              /* Content in respective tabs */
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}
.tab-content{                                   /* Div for all the content in respective tabs */ 
    display: none;
}
.tab-content.active-tab{                        /* Active tab content visibility effect */
    display: block;
}

/*----------------------Extra-curriculars Section -------------------------*/
#extra-curriculars{                                 /* Extra-curriculars Section */
    margin-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.extra-curriculars-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.extra-curriculars-list div{
    background-color: #354a2f;
    color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: -4px 4px 5px #677c59, 0px 4px 5px #677c59;
    transition: all 0.5s ease-in-out;
}
.extra-curriculars-list h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.extra-curriculars-list p{
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    line-height: 1.2;
}
.extra-curriculars-list a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.extra-curriculars-list div:hover{
    box-shadow: -5px 5px 10px #253e1e, -2px 2px 8px #677c59;
    background: #2a3b1f;
    transform: translateY(-10px);
}

/*----------------------Project Section -------------------------*/
#project{                                 /*Project Section */
    margin-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.project:hover img{                       /* Hover effect on image in Project Section */
    transform: scale(1.1);
}
.project:hover .layer{                   /* Hover effect on overlay in Project Section */
    height: 100%;
}
.project img{                                   /* Image in Project Section */
    width: 100%;
    border-radius: 10px;
    display: block;
    height: 400px;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(6, 44, 3),#aec398);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s ease-in-out;
    color:#ffffff;
}
.layer h2{
    text-align: center;
}
.layer p{
    margin-top: 10px;
    font-size: 20px;
}
.layer a{
    margin-top: 15px;
    color:#2c3a15;
    text-decoration: none;
    border-radius: 50%;
    font-size: 18px;
    line-height: 60px;
    background: #96bc7e;
    width: 60px;
    height: 60px;
    text-align: center;
}

/*----------------------Contact Section -------------------------*/
#contact{                                 
    margin-top: 100px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.contact-left{
    flex-basis:45%;
}
.contact-right{
    flex-basis:50%;
}
.contact-left p{
    margin-top: 30px;
    font-size: 20px;
}
.contact-left p i{
    color: #354a2f;
    margin-right: 15px;
    font-size: 25px;
}
h1.subtitle{                                      /* Subtitle in Contact Section */
    margin-bottom: 60px;
    font-size: 40px;
}
#btn{                                    /* Contact Me button */
    background-color: #354a2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}
#btn:hover{                              /* Hover effect on Contact Me button */
    background-color: #2a3b1f;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 4px 4px 5px #677c59;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    color: #354a2f;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
}
.social-icons a:hover{
    color: #2a3b1f;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}
.contact-right form{
    width: 100%;
}
::placeholder{
        color: #354a2f;
        opacity: 1; 
}
form input, form textarea{
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #032c09;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    resize: none;
    background-color: #96bc7e;
}
.quote{
    width:100%;
    text-align: center;
    padding: 20px 0;
    background: #253e1e;
    color: antiquewhite;
    font-weight: 200;
}
.back-to-home {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    background: #253e1e;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-size: 24px;
    z-index: 1000;
    transition: background 0.3s, transform 0.2s;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transform: translateY(40px);
    transition: opacity 0.4s, transform 0.4s;
}
.back-to-home.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}
.back-to-home:hover {
    background: #354a2f;
    transform: scale(1.1);
}
nav .fa-bars, nav ul .fa-circle-xmark {
        display: none;
    } 
/*----------------------Media Queries -------------------------*/
@media (max-width: 768px){ 
    #home{                                          /* Header of the page */
    background-image: url(images/about.png);
    background-size: auto 60%;
    background-position: center center;
    background-repeat: no-repeat;
    }
    #logo{
        width: 30vw;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .hometext{
        margin-top: 120%;
        width: 90%;
        text-align: justify;
    }
    .hometext h1{
        font-size: 25px;
    }
    #intro{
        font-size: 16px;
    }
    #menu{
        display: block;
        font-size: 30px;
        color: #0f2709;
        cursor: pointer;
        position: absolute;
        left: 25px;
        top: 30px;
        z-index: 3;
        transition: color 0.3s;
    }
    #sidemenu.open {
        left: 0;
    }
    #menu.fa-bars {
        display: block;
    }
    nav .fa-bars, nav ul .fa-circle-xmark {
        display: block;
    }
    nav ul{
        background: rgba(103, 124, 89, 0.8);
        position: fixed;
        top: 0;
        left: -200px;
        width: 150px;
        height: 100vh;
        padding-top: 30px;
        z-index: 2;
        transition: left 0.3s ease;
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 15px;
    }
    nav ul li a{
        color: #f5f5d5;
        font-size: 16px;
        margin: 30px 10px 0;
        padding: 8px 10px;
    }
    .homebuttons{
        display: flex;
        justify-content: start;
        margin-top: 20px;
        gap: 20px;
        font-size: 10px;
    }
    .homebuttons input{
        width: 100%;
        margin-bottom: 10px;
    }
    #contactbtn, #cvbtn {
    font-size: 15px;
    } 
    #about{
        height: auto;
    }
    .row{
        flex-direction: column;
        height: auto;
    }
    .abtcol-1, .abtcol-2{
        flex-basis: 100%;
        text-align: center;
    }
    .abtcol-2{
        margin-top: 30px;
        height: auto;
    }
    #aboutimg{
        width: 90%;
    }
    .tab-titles{
        justify-content: center;
        flex-wrap: wrap;
    }
    .tab-links{
        margin-right: 20px;
        margin-bottom: 10px;
    }
    #extra-curriculars{
        height: auto;
    }
    #project{
        height: auto;
    }
    .project img{
        height: 300px;
    }
    #contact{
        height: auto;
    }
    .row-contact{
        flex-direction: column;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
        text-align: center;
    }
    .contact-right form input, .contact-right form textarea{
        width: 80%;
    }
    .quote h2 {
        font-size: 18px;
        padding: 10px;
    }
}